.timeline-controls {
  display: flex;
  flex-flow: wrap;
}

.timeline-controls .button-bar {
  display: flex;
}

.timeline-controls>div, .timeline-controls .button-bar>div {
  display: flex;
  flex-flow: column;
}

.timeline-controls button {
  white-space: nowrap;
}

.timeline-controls button.small {
  flex: 1;
}

.timeline-controls button.big {
  flex: 20;
}

.timeline-controls button.big.custom {
  width: 90px;
  padding: 0 3px;
  white-space: normal;
}

.timeline-controls .slider {
  display: flex;
  align-items: center;
  margin: 5px 12px;
}

.timeline-controls .slider label {
  font: 13.33px sans-serif;
  margin: 0 6px 4px 0;
}

.timeline-controls .slider>input[type="range"] {
  width: 100%;
  position: relative;
}

.timeline-controls .slider:not(.actual)>input[type="range"]::before {
  position: absolute;
  top: -45%;
  left: 50%;
  transform: translateX(-50%);
  content: attr(data-label);
}
